{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="pt-3">
        <p class="pt-3"></p>
        <p class="pt-3"></p>
    </div>
    <div class="m-3 text-center border-bottom pb-3">
        <h1 class="m-3 text-center border-bottom pb-3" style="font:bold">상담문의</h1>
        <p>Korea Digital Valley가 어떻게 귀사의 데이터센터를 세계적인 역량과 상호 연결을 제공할 수 있는지 알아보십시오.</p>
    </div>
    <form method="post">
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="card bg-light m-3 p-3">
        <div class="row">
            <div class="col mb-3">
                <label for="email" class="form-label">이메일</label>
                <input type="text" class="form-control" name="email" id="email"
                    value="{{ form.email.value|default_if_none:'' }}">
            </div>
            <div class="col mb-3">
                <label for="phone" class="form-label">전화번호</label>
                <input type="text" class="form-control" name="phone" id="phone"
                    value="{{ form.phone.value|default_if_none:'' }}">
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="name" class="form-label">이름</label>
                <input type="text" class="form-control" name="name" id="name"
                    value="{{ form.name.value|default_if_none:'' }}">
            </div>
            <div class="col mb-3">
                <label for="positon" class="form-label">직책</label>
                <input type="text" class="form-control" name="position" id="position"
                    value="{{ form.position.value|default_if_none:'' }}">
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="company" class="form-label">회사명</label>
                <input type="text" class="form-control" name="company" id="company"
                    value="{{ form.company.value|default_if_none:'' }}">
            </div>
            <div class="col mb-3">
                <label for="nation" class="form-label">국가</label>
                <input type="text" class="form-control" name="nation" id="nation"
                    value="{{ form.nation.value|default_if_none:'' }}">
            </div>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" name="content"
                      id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <!-- <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="selected">
            <label class="form-check-label" for="selected">
              [접수]개인정보 수집 및 이용 동의
            </label>
        </div> -->
        <div class="mb-2">
            <p>아래의 제출 버튼을 클릭하면 Korea Digital Valley의 개인정보 수집 및 이용에 동의하는 것입니다.</p>
            <p>[필수] 개인정보 수집 및 이용 동의
                개인정보의 수집 및 이용목적 - 정보제공 및 서비스 관련 뉴스레터 제공 수집하는 개인정보의 항목 - 회사 이메일 주소, 전화번호, 이름, 회사명, 국가, 직책, 산업   개인정보의 보유 및 이용 기간 - 서비스 제공 후 3년 (단, 고객 동의 철회 시 지체없이 파기)   귀하는 동의를 거부할 권리가 있으며, 거부하는 경우 상기 이용 목적에 명시된 서비스 제공이 불가능 합니다.</p>
            <p>Korea Digital Valley는 상기와 같이 귀하의 개인정보를 수집 및 이용합니다. 귀하의 개인정보 보호를 위해 최선을 다하고 있으며, 개인정보보호 관련 법규를 준수하고 있습니다. 귀하는 Korea Digital Valley의 <a href="{% url 'kdp:kdp_privacy_policy' %}">개인정보 처리방침</a>과 <a href="{% url 'kdp:korea_privacy_policy' %}">대한민국 개인정보 처리방침</a>을 읽고 제출에 동의하는 바입니다.
                제출 버튼을 클릭하면 Korea Digital Valley의 제품 및 서비스 관련 소식을 받는데 동의하는 것입니다.</p>
        </div>
    </div>
        <div class="text-center m-3 p-3">    
            <button type="submit" class="btn btn-primary">제출</button>
        </div>
    </form>
</div>
{% endblock %}
