{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid">
    <div class="pt-3">
        <p class="pt-2"></p>
        <p class="pt-1"></p>
    </div>
	<div class="row text-white bg-black p-3">
        <div class="card">
            <div class="col-12 text-center bg-white text-black p-3">
                <h1><strong>Who we are</strong></h1>
            </div>
            <div class="col-12 text-left bg-white text-black p-3">
                <p>Korea Digital Valley는 세계 최고의 데이터센터 인프라 제공 회사입니다. 우리는 금융, 제조, 소매, 운송, 정부, 의료
                    및 교육과 같은 분야에서 조직이 디지털 세상에서 상호 연결될 수 있도록 인프라를 제공합니다.
                    우리는 데이터 트래픽을 안전하게 연결하고 공유할 수 있는 벤더 중립적 다중 테넌트 데이터센터 인프라를 제공하기 위하여
                    2019 서울에 설립되었으며, 우리의 초점을 반영하는 Korea Digital Valley라는 이름을 선택했습니다.
                    우리는 우리의 주요 고객들이 클라우드, 네트워킹, 스토리지, 컴퓨팅 및 소프트웨어 전반에 걸쳐 빠르게 경쟁 우위를
                    선점하도록 지원합니다. Korea Digital Valley는 대규모 데이터센터 클러스터를 구축하여 오늘날의 조직이 경쟁에서 승리하는
                    데 필요한 글로벌 서비스 인프라를 확보할 수 있도록 고객을 위한 최상의 가치를 제공합니다.
                </p>
            </div>
        </div>
<!--
        <div class="col-12 text-center">
            <img src="{% static 'img/leaders.jpg' %}"
                 alt="leaders" title="leaders" class="img-fluid">
        </div>
-->
        <div class="col-12 text-center mt-3 p-3">
            <h1><strong>Executive Leadership</strong></h1>
        </div>
        <div class="container w-75">
            <div class="col-12 text-left">
                <div class="mt-3">
                    <h4>Justin Kim</h4>
                    <p><em>Chairman & Founder</em></p>
                </div>
                <div class="mb-3 pb-3">
                    <p>Korea Digital Valley의 창업주로서 지난 30년간 부동산 개발 및 시행 분야에서 성공적인 경력을 보유하고 있습니다.
                        부동산 개발사업을 추진하면서 수 많은 역경과 도전을 황소 같은 추진력으로 돌파해왔으며, 뛰어난 인화력으로 다양한
                        사업 분야에서 성공한 리더들과 밀접한 네트워크를 형성하고 있습니다. 주변에서 모두 무모한 도전이라고 만류하던
                        이번 KDV 프로젝트를 지금까지 이끌어 온 Korea Digital Valley의 구심점이자 진정한 리더입니다.</p>
                </div>
            </div>

            <div class="col-12 text-left">
                <div class="mt-3">
                    <h4>Hyoyun Ahn</h4>
                    <p><em>President (CEO of Hidden Holdings, Inc.)</em></p>
                </div>
                <div class="mb-3 pb-3">
                    <p>Korea Digital Valley에 합류하기 전에 네모파트너즈 투자부문 대표를 역임하였으며, SK텔레콤 투자팀, 중국삼성
                        Opentide 전략팀장 등을 역임하면서 실무 경험을 쌓아왔습니다. 안효윤 사장은 특히 이번 KDV 프로젝트의 주요
                        사업 모델을 제안하고 기획하였으며, 사업 초기에 비즈니스 모델의 인큐베이션을 성공적으로 수행하였습니다.
                        안효윤 사장은 북경우전대학교를 졸업하고 IT 분야 전략 컨설턴트이자 사업가로서 전문성을 쌓아왔습니다.</p>
                </div>
            </div>

            <div class="col-12 text-left">
                <div class="mt-3">
                    <h4>Jeonghun Lee</h4>
                    <p><em>COO/Vice President</em></p>
                </div>
                <div class="mb-3 pb-3">
                    <p>이정훈 부사장은 Korea Digital Valley에 합류하기 전에 한국PMI컨설팅그룹의 Director로서 다양한 산업분야에서
                        경영전략 수립 및 전략실행력 강화 프로젝트를 총괄하였습니다. 이정훈 상무는 IT벤처기업 및 국내 최대의 교육서비스
                        기업에서 경영전략 수립, 해외사업전략 수립 및 추진 총괄 등을 역임하면서 실무 경험을 쌓아왔습니다. 특이한 이력으로
                        금융위기 시절 부도난 건설사의 유치권 행사로 표류 중이던 재건축 조합을 위해 무료 자문 활동으로 조합장 권한 대행의
                        역할을 수행하여 성공적으로 재건축 사업을 완료한 경험을 보유하고 있습니다. 이정훈 상무는 경희대학교 환경공학과를
                        졸업한 후 연세대학교에서 경영학 석사(MBA) 학위를 취득였으며, 경영전략 수립 및 전략실행력 강화 분야에서 전문성을
                        쌓아왔습니다.</p>
                </div>
            </div>

            <div class="col-12 text-left">
                <div class="mt-3">
                    <h4>Byungil Lee</h4>
                    <p><em>Vice President</em></p>
                </div>
                <div class="mb-3 pb-3">
                    <p>이병일 부사장은 전 중국건재 대표이사를 역임하였으며, 지난 25년간 부동산 개발 및 투자 부문에서 성공적인 경력을
                        보유하고 있습니다.</p>
                </div>
            </div>

            <div class="col-12 text-left">
                <div class="mt-3">
                    <h4>Youngman Hyun</h4>
                    <p><em>Vice President</em></p>
                </div>
                <div class="mb-3 pb-3">
                    <p>현영만 부사장은 Korea Digital Valley에 합류하기 전에 본떼코리아 부사장을 역임하였고, 현재 KDV의 기업가치평가
                        및 투자업무 등 재무관리를 총괄하고 있으며, 내외경제TV 투자연구소장, 더체크 부사장 등을 역임하였습니다.
                        특히, 신용보증기금에서 20 여년간 기업신용조사 및 심사업무, 금융상품개발, 종합금융, 창업제도 기획 등을 업무를
                        수행하면서 실무 경험을 쌓아왔습니다. 현영만 부사장은 한양대학교 경영학과를 졸업한 후, KAIST에서 금융전문 과정을
                        수료하였으며, 금융분야에서 전문성을 쌓아왔습니다.</p>
                </div>
            </div>

            <div class="col-12 text-left">
                <div class="mt-3">
                    <h4>Jinsung Lee</h4>
                    <p><em>Director</em></p>
                </div>
                <div class="mb-3 pb-3">
                    <p>이진성 이사는 고려대학교 경영학과를 졸업하고, 지난 15여년간 경영전략 수립 및 실행, 신사업 추진 분야에서 전문성을
                        쌓아왔습니다.</p>
                </div>
            </div>
        </div>
            </br>
            </br>
        <div class="col-12 text-center mt-3 p-3">
            <h1><strong>Advisor Group</strong></h1>
        </div>
        <div class="container w-75">
            <div class="col-12 text-left">
                <div class="mt-3">
                    <h4>Andrew Jang</h4>
                    <p><em>Advisor</em></p>
                </div>
                <div class="mb-3 pb-3">
                    <p>Korea Digital Valley에 합류하기 전에 Tokyo-Mitsubishi Int'l HK, Credit Suisse HK 한국담당임원,
                        Honua Investment Mgmt. 대표를 역임하였으며, 현 HIM&A 대표로 활동하고 있습니다. 지난 30년간 국제 금융 및
                        부동산 파생상품 부문에서 성공적인 경력을 보유하고 있습니다.</p>
                </div>
            </div>
            <div class="col-12 text-left">
                <div class="mt-3">
                    <h4>Jaewook Ryu</h4>
                    <p><em>Advisor</em></p>
                </div>
                <div class="mb-3 pb-3">
                    <p>류재욱 고문은 현 네모파트너즈 회장으로 활동하고 있으며, 지난 30년간 전략컨설팅 부문에서 성공적인 경력을
                        보유하고 있습니다. 류재욱 고문은 서울대학교 경영학과 및 하버드 MBA를 졸업하고, 국내 1세대 전략컨설턴트로
                        활동하였으며, 현재의 네모파트너즈 그룹을 창업하였습니다.</p>
                </div>
            </div>
            <div class="col-12 text-left">
                <div class="mt-3">
                    <h4>Junsang Hyun</h4>
                    <p><em>Advisor</em></p>
                </div>
                <div class="mb-3 pb-3">
                    <p>현준상 고문은 Korea Digital Valley에 합류하기 전에 Logos Property 한국 지사장을 역임하면서 Logos Property를
                        대표하여 한국내 부동산 투자 및 개발사업을 총괄하였고, 부동산 개발 전문가로서 물류 및 데이터센터 개발 분야에서
                        성공적인 성과를 창출하였습니다. 현준상 사장은 하나금융그룹 해외부동산총괄, 미국 푸르덴셜보험 부동산 PEF운용펀드
                        부매니저, 미국 Bain&Company 경영컨설턴트 등을 역임하면서 실무경험을 쌓아왔습니다. 현준상 사장은 서울대학교
                        화학과를 졸업한 후 하버드 대학교에서 경영학 석사(MBA) 학위를 취득였으며, 재무분석사(CFA) 자격을 소지하고 있습니다.</p>
                </div>
            </div>
            <div class="col-12 text-left">
                <div class="mt-3">
                    <h4>Kyung-im Min</h4>
                    <p><em>Director General for Legal Assistance</em></p>
                </div>
                <div class="mb-3 pb-3">
                    <p>민경임 법률지원단장은 Korea Digital Valley에 합류하기 전에 지엘창업투자 대표파트너를 역임하였고,
                        현재 KDV 프로젝트의 인허가를 위한 법률지원 총괄 업무를 맡고 있으며, 골드뱅크 재무이사, 금융감독원 조사국 팀장
                        등을 역임하면서 실무 경험을 쌓아왔습니다. 민경임 법률지원단장은 성균관대학교 법학과를 졸업한 후 동대학원에서
                        감사행정 석사 학위를 취득하였으며, 법률 및 건축 인허가 분야에서 전문성을 쌓아왔습니다.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3 mt-3">
        <div class="col-12 text-center pt-3">
            <div class="pt-3">
            <img src="{% static 'img/contact_bubble.png' %}"
                alt="contact" title="contact" class="img-fluid">
            </div>
            <h2 class="p-3">전문가와 상담</h2>
            <p>Korea Digital Valley가 귀사의 혁신을 돕겠습니다.</p>
        </div>
        <div class="text-center mb-3 p-3">
            <a href="{% url 'kdp:contact' %}" class="btn btn-outline-danger btn-lg px-3"
                role="button"><strong>상담하기</strong></a>
        </div>
    </div>
</div>
{% endblock %}
