{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid">
	<div class="row text-white bg-black">
        <div class="col-12 text-center p-3">
            <h1 class="p-3 border-bottom">연락처</h1>
            <div class="card bg-black text-white pt-3">
                <h6>Phone: +82-2-2010-8888</h6>
                <h6>Fax: +82-2-2010-8899</h6>
                <h6>Email: kdp.datacenter@gmail.com</h6>
                <h6>Address: 서울시 강남구 테헤란로 521 파르나스타워 30층</h6>
            </div>
        </div>
        <div class="container w-90">
            <div class="col-12 text-center">
                <img src="{% static 'img/company_location1.png' %}"
                    alt="company_location" title="company_location" class="img-fluid">
            </div>
        </div>
	</div>
</div>
<div class="row text-white bg-black">
    <div class="col-12 text-center p-3">
        <div class="p-3">
        <img src="{% static 'img/contact_bubble.png' %}"
            alt="contact" title="contact" class="img-fluid">
        </div>
        <h2 class="p-3">전문가와 상담</h2>
        <p>Korea Digital Park가 귀사의 혁신을 돕겠습니다.</p>
    </div>
    <div class="text-center p-3">
        <a href="{% url 'kdp:client_create' %}" class="btn btn-outline-danger btn-lg p-3" 
            role="button"><strong>상담등록</strong></a>
    </div>
</div>
{% endblock %}

{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $("#menu_tab").on('click', function() {
        $("nav-link").active();
        $("nav-link").removeClass('active');
        $(this).addClass('active');
        $(this).css("color", "yellow");
    });
});
</script>
{% endblock %}