{% extends 'base.html' %}
{% block content %}
{% load static %}
  <head>
    <meta http-equiv="refresh" content="7; url='https://mail.daum.net'"/>
  </head>
  <body>
    <p class="text-center py-3">잠시만 기다려주세요. 곧 이메일 화면으로 연결됩니다.</p>
    <p class="text-center py-3">자동으로 연결이 안 되면 <a href="https://mail.daum.net" target="_blank">여기를 클릭하세요</a>.</p>
  </body>
{% endblock %}

{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $("#menu_tab").on('click', function() {
        $("nav-link").active();
        $("nav-link").removeClass('active');
        $(this).addClass('active');
        $(this).css("color", "yellow");
    });
});
</script>
{% endblock %}