{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid">
    <div class="p-3">
        <p class="p-3"></p>
        <p class="p-3"></p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">구분</th>
                <th scope="col">내용</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <th>api_key</th>
            <td><input type="text" name="api_key" id="api_key" value="#kdp@1914!" style="width: 98%;"><br/>
                메일플러그에서 발급된 api_key 키값
            </td>
        </tr>
        <tr>
            <th>도메인명</th>
            <td><input type="text" name="host_domain" id="host_domain" value="koreadigitalpark.com" style="width: 98%;"></td>
        </tr>
        <tr>
            <th>데이타</th>
            <td><textarea name="data" id="data" style="width: 650px; height: 100px">{"cid": "{{ user.username }}", "MailToken": "{{ token }}"}</textarea></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="button" id="btnOK" value="전송" />
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
