{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="m-3 text-left border-bottom pb-3">
        <h1 class="m-3 text-center border-bottom pb-3" style="font:bold">개인정보 처리방침</h1>
        <h5>KDP Properties, Inc. 및 그 계열사("KDP" 또는 "당사")는 귀하의 개인정보를 존중하며, 귀하가 당사에 제공하는 개인정보의 적절한 보호와 관리 필요성을 인정합니다.</h5>
        <p>이 개인정보 처리방침 보호 선언은 귀하와 당사의 관계와 관련하여 당사가 수집하고 처리하는 개인 데이터와 관련된 당사의 관행을 설명합니다. 여기에는 당사가 다음과 같이 수집하는 개인정보 처리방침가 포함됩니다.</p>
    </div>
    <div>
        <ul>
            <li>
                웹사이트를 통해 수집된 개인정보
            </li>
            <li>
                소셜 미디어를 통해 당사와 상호 작용할 때 수집된 개인정보
            </li>
            <li>
                귀하 또는 귀하의 조직이 당사와 유지하는 비즈니스 관계를 통해 수집된 개인정보
            </li>
            <li>
                귀하가 당사에 마케팅 또는 홍보 자료를 요청할 때 수집된 개인정보 또는
            </li>
            <li>
                당사와의 고용 관계를 통해 수집된 개인정보
            </li>
        </ul>
        <div>
            <p>당사가 귀하의 개인정보 처리방침를 수집, 처리, 사용, 공유 및 보호하는 방법을 이해하려면 이 개인정보 처리방침 보호 선언을 검토하는 것이 좋습니다. 당사 관행에 대한 질문, 의견 또는 불만 사항이 있는 경우 본 개인정보 처리방침 보호 선언 뒷부분의 당사 문의 또는 요청 제출 방법 섹션에 설명된 대로 당사에 문의하십시오.</p>
        </div>
    </div>
</div>
{% endblock %}
