{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid">
	<div class="row text-white bg-black p-3">
        <div class="card p-3">
            <div class="col-12 text-center bg-white text-black p-3">
                <h1><strong>Who we are</strong></h1>
            </div>
            <div class="col-12 text-left bg-white text-black p-3">
                <p>KDP Properties는 세계 최고의 데이터센터 인프라 제공 회사입니다. 우리는 디지털 우선 세계에서 금융, 제조, 소매, 운송, 정부, 의료 및 교육과 같은 업계 최고의 조직을 상호 연결합니다. 비즈니스 리더는 신뢰할 수 있는 글로벌 플랫폼을 활용하여 지속 가능하고 안전하게 성공을 뒷받침하는 기본 인프라를 통합하고 상호 연결합니다.
                    경쟁 네트워크가 데이터 트래픽을 안전하게 연결하고 공유할 수 있는 벤더 중립적 다중 테넌트 데이터 센터 제공업체로 2009 서울에 설립된 우리는 회사의 초점을 반영하는 이름을 선택했습니다.
                    우리는 주요 서비스 제공업체의 에코시스템을 통해 디지털 리더가 클라우드, 네트워킹, 스토리지, 컴퓨팅 및 소프트웨어 전반에 걸쳐 빠르게 경쟁 우위를 선점하도록 지원합니다. 역사적인 제품을 구축하든, 업계 최초의 비즈니스 모델을 구축하든, 전 세계적으로 협업하는 새로운 방법을 개척하든 KDP Properties는 오늘날의 조직이 경쟁에서 승리하는 데 필요한 글로벌 범위, 풍부한 에코시스템 및 탁월한 서비스를 제공합니다.
                </p>
            </div>
        </div>
        <div class="col-12 text-center">
            <img src="{% static 'img/leaders.jpg' %}"
                 alt="company" title="company" class="img-fluid">
        </div>
        <div class="col-12 text-center p-3">
            <h1><strong>Executive Leadership</strong></h1>
        </div>
        <div class="col-12 text-left">
            <div class="m-3">
                <h4>Justin Kim</h4>
                <p><em>CEO & Founder</em></p>
            </div>
            <div class="m-3">
                <p>KDP Properties 설립자, 30년간 부동산 개발 및 시행 분야에서 성공적인 경력 보유</p>
            </div>
        </div>
        <div class="col-12 text-left">
            <div class="m-3">
                <h4>Andrew Jang</h4>
                <p><em>Advisor</em></p>
            </div>
            <div class="m-3">
                <p>HSBC 홍콩 법인장 역임, 지난 30년간 금융 투자 부문에서 성공적인 경력 보유</p>
            </div>
        </div>
        <div class="col-12 text-left">
            <div class="m-3">
                <h4>Hyoyun Ahn</h4>
                <p><em>President</em></p>
            </div>
            <div class="m-3">
                <p>SK Telecom 전략기획팀장, 삼성전자 투자팀장, 네모파트너즈 투자대표 역임, 지난 25년간 IT분야 전략 전문가로서 성공적인 경력 보유</p>
            </div>
        </div>
        <div class="col-12 text-left">
            <div class="m-3">
                <h4>Byungil Lee</h4>
                <p><em>Managing Director</em></p>
            </div>
            <div class="m-3">
                <p>중국건재 임원 역임, 지난 25년간 부동산 개발 및 투자 부문에서 성공적인 경력 보유</p>
            </div>
        </div>
        <div class="col-12 text-left">
            <div class="m-3">
                <h4>Youngman Hyun</h4>
                <p><em>Managing Director</em></p>
            </div>
            <div class="m-3">
                <p>신용보증기금 본사 팀장 역임, 지난 25년간 금융 분야에서 성공적인 경력 보유</p>
            </div>
        </div>
        <div class="col-12 text-left">
            <div class="m-3">
                <h4>Junsang Hyun</h4>
                <p><em>COO</em></p>
            </div>
            <div class="m-3">
                <p>Logos Property 한국 지사장 역임, 지난 25년간 부동산 개발 및 투자 부문에서 성공적인 경력 보유</p>
            </div>
        </div>
        <div class="col-12 text-left">
            <div class="m-3">
                <h4>Jeonghun Lee</h4>
                <p><em>CFO</em></p>
            </div>
            <div class="m-3">
                <p>PMI Consulting Group Director 역임, 지난 25년간 전략기획 분야에서 성공적인 경력 보유</p>
            </div>
        </div>
    </div>
    <div class="row m-3 p-3">
        <div class="col-12 text-center p-3">
        <img src="{% static 'img/contact_bubble.png' %}"
            alt="contact" title="contact" class="img-fluid">
        </div>
        <div class="col-12 text-center p-3">
            <h2 class="text-center p-3">전문가와 상담</h2>
            <p>KDP Properties가 귀사의 혁신을 돕겠습니다.</p>
            <a href="{% url 'kdp_wb:contact' %}" class="btn btn-outline-danger btn-lg p-3" 
                role="button"><strong>상담하기</strong></a>
        </div>
    </div>
</div>
<!-- {% if request.user.is_authenticated %}
<div id="container">
    <div class="text-center">
        <div class="my-3">
            <h3 class="p-2">
                <a href="{% url 'kdp_wb:company' %}" style="color:black">Company</a>
            </h3>
        </div>
    </div>
</div>
{% endif %} -->
{% endblock %}

{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $("#menu_tab").on('click', function() {
        $("nav-link").active();
        $("nav-link").removeClass('active');
        $(this).addClass('active');
        $(this).css("color", "yellow");
    });
});
</script>
{% endblock %}