{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid bg-black">
    <div class="row text-white bg-black">
        <div class="text-left p-3">
            <h1>Korea Digital Park - 세계 최대의 클라우드 데이터센터 클러스터</h1>
        </div>
        <div class="text-left p-3">
            <p>Korea Digital Park를 통해 전세계의 데이터센터에 연결하여 비즈니스를 위한 내부 가치 창출을 가속화하고 확대하십시오. 그리고 Korea Digital Park를 선택해야 하는 이유에 대해 설명하고 있는 아래의 내용을 함께 고려해 보십시오. </p>
        </div>
    </div>
    <div class="card">
        <div class="row text-white bg-black">
            <div class="col-md-6">
                <div class="card-body">
                    <img src="{% static 'img/data_traffic.png' %}"
                        alt="kdp_sitemap" title="kdp_sitemap" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-fluid">
                    <div class="card-body">
                        <h3 class="card-title">데이터센터 부족에 대한 빠른 대처 시급</h3>
                        <p class="card-text">4차 산업 혁명 시대에 갈수록 증가되는 Cloud 서비스, 인공지능(AI), 자율주행, 라이브 스트리밍 서비스 등의 활성화에 따라 Data Traffic이 2025년 이후 폭발적으로 증가할 것으로 예상됩니다. 이에 따라 데이터센터에 대한 필요가 대폭 증가하고 있습니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row text-white bg-black">
            <div class="col-md-6">
                <div class="card-body">
                    <img src="{% static 'img/DC_location.png' %}"
                        alt="kdp_sitemap" title="kdp_sitemap" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-fluid">
                    <div class="card-body">
                        <h3 class="card-title">데이터센터의 80%가 수도권 남부에 집중</h3>
                        <p class="card-text">현재 국내 데이터센터는 이용자가 많은 수도권에 80% 집중되어 있습니다. 특히, 수도권 한강 이남 지역에 Small Size 데이터센터들이 난립, 밀집되어 이미 포화상태에 이르렀습니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row text-white bg-black">
            <div class="col-md-6">
                <div class="card-body">
                    <img src="{% static 'img/electric.png' %}"
                        alt="kdp_sitemap" title="kdp_sitemap" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-fluid">
                    <div class="card-body">
                        <h3 class="card-title">국내 전력 계통 현황</h3>
                        <p class="card-text">대규모 데이터센터 클러스터를 구축하기 위해서는 전력 공급과 대규모 집적화가 가능한 부지를 확보하는 것이 중요합니다. 상대적으로 전력 여유가 있는 수도권 동북부 지역을 선택하여 대규모 데이터센터 클러스터를 구축할 필요가 있습니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row text-white bg-black">
            <div class="col-md-6">
                <div class="card-body">
                    <img src="{% static 'img/kdp_location.png' %}"
                        alt="kdp_sitemap" title="kdp_sitemap" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-fluid">
                    <div class="card-body">
                        <h3 class="card-title">Korea Digital Park를 선택해야 하는 이유</h3>
                        <p class="card-text">Korea Digital Park (KDP)는 서울에 인접한 남양주에 조성된 세계에서 가장 큰 클라우드 데이터센터 집중 클러스터입니다. 전 세계적인 상호 연결 플랫폼을 구축하는데 필요한 최적의 환경과 최대의 규모로 파트너와 고객들을 연결하도록 지원합니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-white bg-black">
        <div class="col-12 text-center p-3">
            <div class="p-3">
            <img src="{% static 'img/contact_bubble.png' %}"
                alt="contact" title="contact" class="img-fluid">
            </div>
            <h2 class="p-3">전문가와 상담</h2>
            <p>KDP Properties가 귀사의 혁신을 돕겠습니다.</p>
        </div>
        <div class="text-center p-3">
            <a href="{% url 'kdp_wb:contact' %}" class="btn btn-outline-danger btn-lg p-3" 
                role="button"><strong>상담하기</strong></a>
        </div>
    </div>
</div>
<!-- {% if request.user.is_authenticated %}
<div id="container">
    <div class="text-center">
        <div class="my-3">
            <h3 class="p-2">
                <a href="{% url 'kdp_wb:kdp' %}" style="color:black">KDP</a>
            </h3>
        </div>
    </div>
</div>
{% endif %} -->
{% endblock %}

{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $("#menu_tab").on('click', function() {
        $("nav-link").active();
        $("nav-link").removeClass('active');
        $(this).addClass('active');
        $(this).css("color", "yellow");
    });
});
</script>
{% endblock %}