{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid">
	<div class="row">
        <div class="col-12 text-center">
            <h1><strong>KDP Introduction</strong></h1>
        </div>
        <div class="col-12 text-center">
            <img src="{% static 'img/kdp_kdp1.jpg' %}"
                 alt="kdp1" title="kdp1" class="img-fluid">
        </div>
	</div>
</div>
{% if request.user.is_authenticated %}
<div id="container">
    <div class="text-center">
        <div class="my-3">
            <h3 class="p-2">
                <a href="{% url 'kdp_wb:kdp' %}" style="color:black">KDP</a>
            </h3>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $("#menu_tab").on('click', function() {
        $("nav-link").active();
        $("nav-link").removeClass('active');
        $(this).addClass('active');
        $(this).css("color", "yellow");
    });
});
</script>
{% endblock %}