{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid">
    <div class="row text-white bg-black">
        <div class="text-left p-3">
            <h1>Korea Digital Park - 세계 최대의 클라우드 데이터 밸리</h1>
        </div>
        <div class="text-left p-3">
            <p>Korea Digital Park를 통해 전세계의 데이터센터에 연결하여 비즈니스를 위한 내부 가치 창출을 가속화하고 확대하십시오.</p>
        </div>
    </div>
    <div class="row text-white bg-black">
        <div class="col-md-6">
            <div class="card-fluid">
                <img src="{% static 'img/kdp_sitemap.jpg' %}"
                    alt="kdp_sitemap" title="kdp_sitemap" class="img-fluid">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-fluid">
                <div class="card-body">
                    <h2 class="card-title">Korea Digital Park를 선택해야 하는 이유</h2>
                    <p class="card-text">Korea Digital Park (KDP)는 세계에서 가장 큰 클라우드 데이터센터 집중 클러스터입니다. 전 세계적인 상호 연결 플랫폼의 일환으로 KDP는 세계 4대 광역 경제와 100개 이상의 시장에서 파트너와 고객들을 연결하도록 지원합니다.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-white bg-black">
        <div class="col-12 text-center p-3">
            <div class="p-3">
            <img src="{% static 'img/contact_bubble.png' %}"
                alt="contact" title="contact" class="img-fluid">
            </div>
            <h2 class="p-3">전문가와 상담</h2>
            <p>KDP Properties가 귀사의 혁신을 돕겠습니다.</p>
        </div>
        <div class="text-center p-3">
            <a href="{% url 'kdp_wb:contact' %}" class="btn btn-outline-danger btn-lg p-3" 
                role="button"><strong>상담하기</strong></a>
        </div>
    </div>
</div>
<!-- {% if request.user.is_authenticated %}
<div id="container">
    <div class="text-center">
        <div class="my-3">
            <h3 class="p-2">
                <a href="{% url 'kdp_wb:kdp' %}" style="color:black">KDP</a>
            </h3>
        </div>
    </div>
</div>
{% endif %} -->
{% endblock %}

{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $("#menu_tab").on('click', function() {
        $("nav-link").active();
        $("nav-link").removeClass('active');
        $(this).addClass('active');
        $(this).css("color", "yellow");
    });
});
</script>
{% endblock %}