.comment {
    border-top:dotted 1px #ddd;
    font-size:0.7em;
}

.navbar {

}

/* .carousel-caption {
    position: absolute;
    right: 15%;
    top: 10px !important;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-inner .carousel-item .carousel-caption {
    top: 10px !important;
    width: 100px;
    } */
